/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.datum-property-listing-area {
    max-width: 1140px;
    margin: 0 auto;
}
.datum-property-listing-area .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.datum-property-listing-area .col,
.datum-property-listing-area .col-8,
.datum-property-listing-area .col-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.datum-property-listing-area .col-8 {
    max-width: 60%;
    flex: 60%;
}
.datum-property-listing-area .col-4 {
    max-width: 40%;
    flex: 40%;
}
.datum-property-listing-area .form .field-group {
    margin-bottom: 1rem;
}
.datum-property-listing-area .form label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.datum-property-listing-area .form .input-field, 
.datum-property-listing-area .form .textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.datum-property-listing-area .form select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.datum-property-listing-area .form .field-group legend {
    font-weight: 700;
    margin-bottom: 10px;
}
.datum-property-listing-area .form .submit-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}
.datum-property-listing-area .form .submit-btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.datum-property-listing-area .form .error-notices {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: none;
}
.datum-property-listing-area .form .error-notices.show {
    display: block;
}
.datum-property-listing-area .form .error-notices ul {
    margin: 0;
}

.datum-property-listing-area .form .error-notices ul li {
    padding: 2px 0px;
}
.datum-property-listing-area p.success-message {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.datum-property-listing-area.import-page-wrapper {
    padding: 35px 0px;
}
.import-page-wrapper .form label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.dpl-form-sidebar ul {
    list-style: disc;
    padding-left: 15px;
}

.dpl-form-sidebar ul ul {
    list-style: circle;
    padding-left: 18px;
    padding-top: 8px;
}
.dpl-entries-div {
    width: 100%;
    max-width: 1140px;
    margin-bottom: 1rem;
    background-color: transparent;
   display: table;
   width: 100%;
}
.table-header-row {
    display: table-header-group;
}
.table-body {
    display: table-row-group;
}
.dpl-entries-div .row {
   display: table-row;
}
.dpl-entries-div .col{
    text-align: inherit;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
   display: table-cell;
}
.dpl-entries-div .header-row .col {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.dpl-pagination {
    text-align: center
}
.dpl-pagination .page-nav {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;cursor: pointer;
    text-decoration: none;
}
.dpl-pagination .page-nav:hover, 
.dpl-pagination .page-nav:active, 
.dpl-pagination .page-nav.active {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.dpl-entries-div .actions .action-btn {
    display: inline-block;
    margin: 0 5px;
}

.dpl-entries-div .col.actions {
    display: flex;
    max-width: fit-content;
}
.dpl-image-thumb img {
    max-width: 150px;
    max-height: 150px;
}